<a href="https://colab.research.google.com/github/Sunny-Janjua/data_analysis-/blob/main/class_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num=3323
num1=44343.43
string="Sunny-Janjua"
boolean=True
print(num)
print(num1)
print(string)
print(boolean)
print(type(num))
print(type(num1))
print(type(string))
print(type(boolean))

3323
44343.43
Sunny-Janjua
True
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [2]:
string="code with sunny"
print(string[0])
print(string[1])
print(string[2])
print(string[4])

c
o
d

In [4]:
print(string)
print(string.capitalize())

code with sunny
Code with sunny

In [5]:
print(string)
print(string.upper())

code with sunny
CODE WITH SUNNY

In [6]:
print(string)
print(string.lower())

code with sunny
code with sunny

In [7]:
print(string)
print(string.islower())

code with sunny
True

In [9]:
print(string)
print(string.isupper())

code with sunny
False

In [10]:
print(string)
print(string.title())

code with sunny
Code With Sunny

In [12]:
print(string)
print(string.find("sunny"))

code with sunny
10

In [13]:
print(string)
print(string.replace("sunny","hussnain mulazam"))

code with sunny
code with hussnain mulazam

In [15]:
print(string)
print(string.count("sunny"))

code with sunny
1

In [16]:
print(string)
print(string.strip())

code with sunny
code with sunny

In [17]:
print(string)
print(string.find("sunny"))

code with sunny
10

# üìå Python String Methods üî§üêç

## **1Ô∏è‚É£ String Basics**
Strings in Python are sequences of characters enclosed in single (`'`), double (`"`), or triple (`''' """`') quotes.

```python
string1 = 'Hello, Sunny!'
string2 = "Python is amazing!"
string3 = '''Multi-line
String Example'''
```

---

## **2Ô∏è‚É£ Common String Methods**

### **üîπ Changing Case**
```python
text = "Hello World"
print(text.upper())  # HELLO WORLD
print(text.lower())  # hello world
print(text.title())  # Hello World
print(text.capitalize())  # Hello world
print(text.swapcase())  # hELLO wORLD
```

### **üîπ Checking String Properties**
```python
print("abc123".isalnum())  # True (Alphanumeric)
print("Python".isalpha())  # True (Only letters)
print("123".isdigit())  # True (Only digits)
print("    ".isspace())  # True (Only spaces)
print("Sunny".islower())  # False (Contains uppercase)
print("HELLO".isupper())  # True (All uppercase)
```

### **üîπ Finding and Replacing Substrings**
```python
text = "Python is fun"
print(text.find("is"))  # 7 (Index of substring)
print(text.replace("fun", "awesome"))  # Python is awesome
```

### **üîπ Splitting and Joining Strings**
```python
text = "apple,banana,grape"
words = text.split(",")  # ['apple', 'banana', 'grape']
print(" - ".join(words))  # apple - banana - grape
```

### **üîπ Stripping Whitespace**
```python
text = "  Python  "
print(text.strip())  # 'Python'
print(text.lstrip())  # 'Python  '
print(text.rstrip())  # '  Python'
```

### **üîπ String Formatting**
```python
name = "Sunny"
age = 22
print(f"My name is {name} and I am {age} years old.")
```

---

## **3Ô∏è‚É£ Escape Sequences**
```python
print("Sunny\'s Laptop")  # Sunny's Laptop
print("Hello\nWorld")  # New line
print("Hello\tWorld")  # Tab space
```

---

## **4Ô∏è‚É£ String Indexing & Slicing**
```python
text = "Data Science"
print(text[0])  # D
print(text[-1])  # e
print(text[0:4])  # Data
print(text[::-1])  # Reverse string
```

---

## **üöÄ Want More?**
Let me know if you need more string-related content! üòä

In [18]:
mylist=[233,34,554,344,55,45,34,45,45,3,44,55,45,34,42,3,344,3,4342,3]
print(mylist)

[233, 34, 554, 344, 55, 45, 34, 45, 45, 3, 44, 55, 45, 34, 42, 3, 344, 3, 4342, 3]

In [19]:
print(mylist[0])
print(mylist[1])
print(mylist[2])
print(mylist[3])
print(mylist[4])
print(mylist[5])
print(mylist[6])
print(mylist[7])
print(mylist[8])
print(mylist[8])
print(mylist[9])
print(mylist[10])

233
34
554
344
55
45
34
45
45
45
3
44

In [20]:
for i in mylist:
  print(f"my list number is {i}")

my list number is 233
my list number is 34
my list number is 554
my list number is 344
my list number is 55
my list number is 45
my list number is 34
my list number is 45
my list number is 45
my list number is 3
my list number is 44
my list number is 55
my list number is 45
my list number is 34
my list number is 42
my list number is 3
my list number is 344
my list number is 3
my list number is 4342
my list number is 3

In [21]:
print(mylist)
print(mylist.count(34))

[233, 34, 554, 344, 55, 45, 34, 45, 45, 3, 44, 55, 45, 34, 42, 3, 344, 3, 4342, 3]
3

In [24]:
print(mylist)
newlist=mylist.append("sunny janjua")

[233, 34, 554, 344, 55, 45, 34, 45, 45, 3, 44, 55, 45, 34, 42, 3, 344, 3, 4342, 3, 'sunny janjua', 'sunny janjua']

In [27]:
print(mylist)
print(mylist.pop())

[233, 34, 554, 344, 55, 45, 34, 45, 45, 3, 44, 55, 45, 34, 42, 3, 344, 3, 4342, 3, 'sunny janjua']
sunny janjua

In [28]:
print(mylist)

[233, 34, 554, 344, 55, 45, 34, 45, 45, 3, 44, 55, 45, 34, 42, 3, 344, 3, 4342, 3]

In [32]:
print(mylist)
newlist=mylist.remove(3)
print(newlist)

[233, 34, 554, 344, 55, 45, 34, 45, 45, 3, 44, 55, 45, 34, 3, 344, 3, 4342, 3]
None

In [33]:
print(mylist)

[233, 34, 554, 344, 55, 45, 34, 45, 45, 44, 55, 45, 34, 3, 344, 3, 4342, 3]

In [34]:
print(mylist)
newlist=mylist.reverse()
print(newlist)

[233, 34, 554, 344, 55, 45, 34, 45, 45, 44, 55, 45, 34, 3, 344, 3, 4342, 3]
None

In [35]:
print(mylist)

[3, 4342, 3, 344, 3, 34, 45, 55, 44, 45, 45, 34, 45, 55, 344, 554, 34, 233]

In [36]:
print(mylist.index(3))

0

In [38]:
mylist.sort()
print(mylist)

[3, 3, 3, 34, 34, 34, 44, 45, 45, 45, 45, 55, 55, 233, 344, 344, 554, 4342]

In [42]:
newlistis=["code with sunny janjua","hello world"]
mylist.extend(newlistis)
print(mylist)

[3, 3, 3, 34, 34, 34, 44, 45, 45, 45, 45, 55, 55, 233, 344, 344, 554, 4342, 'code with sunny janjua', 'code with sunny janjua', 'code with sunny janjua', 'hello world', 'code with sunny janjua', 'hello world']

# üìå Python String & List Methods üî§üêç

## **1Ô∏è‚É£ What is a List?**
A **list** is a collection of ordered, mutable, and heterogeneous elements (can store different data types).

```python
my_list = [1, "Sunny", 3.14, True]
print(my_list)  # [1, 'Sunny', 3.14, True]
```

---

## **2Ô∏è‚É£ List Methods**

### **üîπ Adding Elements**
```python
lst = [1, 2, 3]
lst.append(4)  # Adds 4 at the end
lst.insert(1, 10)  # Inserts 10 at index 1
lst.extend([5, 6])  # Extends list with another list
print(lst)  # [1, 10, 2, 3, 4, 5, 6]
```

### **üîπ Removing Elements**
```python
lst = [1, 2, 3, 4, 5]
lst.remove(3)  # Removes first occurrence of 3
lst.pop()  # Removes last element
lst.pop(1)  # Removes element at index 1
lst.clear()  # Clears the list
print(lst)  # []
```

### **üîπ Sorting & Reversing**
```python
nums = [3, 1, 4, 1, 5, 9]
nums.sort()  # Sorts in ascending order
nums.sort(reverse=True)  # Sorts in descending order
nums.reverse()  # Reverses the list
```

### **üîπ Finding Elements**
```python
lst = [10, 20, 30, 40]
print(lst.index(30))  # Returns index of 30 (2)
print(lst.count(20))  # Counts occurrences of 20 (1)
```

### **üîπ Copying a List**
```python
lst = [1, 2, 3]
copied_lst = lst.copy()
print(copied_lst)  # [1, 2, 3]
```

### **üîπ List Comprehension**
```python
squares = [x**2 for x in range(5)]
print(squares)  # [0, 1, 4, 9, 16]
```

---

## **3Ô∏è‚É£ String Methods**

### **üîπ Changing Case**
```python
text = "Hello World"
print(text.upper())  # HELLO WORLD
print(text.lower())  # hello world
print(text.title())  # Hello World
print(text.capitalize())  # Hello world
print(text.swapcase())  # hELLO wORLD
```

### **üîπ Checking String Properties**
```python
print("abc123".isalnum())  # True (Alphanumeric)
print("Python".isalpha())  # True (Only letters)
print("123".isdigit())  # True (Only digits)
print("    ".isspace())  # True (Only spaces)
print("Sunny".islower())  # False (Contains uppercase)
print("HELLO".isupper())  # True (All uppercase)
```

### **üîπ Finding and Replacing Substrings**
```python
text = "Python is fun"
print(text.find("is"))  # 7 (Index of substring)
print(text.replace("fun", "awesome"))  # Python is awesome
```

### **üîπ Splitting and Joining Strings**
```python
text = "apple,banana,grape"
words = text.split(",")  # ['apple', 'banana', 'grape']
print(" - ".join(words))  # apple - banana - grape
```

### **üîπ Stripping Whitespace**
```python
text = "  Python  "
print(text.strip())  # 'Python'
print(text.lstrip())  # 'Python  '
print(text.rstrip())  # '  Python'
```

### **üîπ String Formatting**
```python
name = "Sunny"
age = 22
print(f"My name is {name} and I am {age} years old.")
```

---

## **4Ô∏è‚É£ Escape Sequences**
```python
print("Sunny\'s Laptop")  # Sunny's Laptop
print("Hello\nWorld")  # New line
print("Hello\tWorld")  # Tab space
```

---

## **5Ô∏è‚É£ String Indexing & Slicing**
```python
text = "Data Science"
print(text[0])  # D
print(text[-1])  # e
print(text[0:4])  # Data
print(text[::-1])  # Reverse string
```

---

## **üöÄ Want More?**
Let me know if you need more list or string-related content! üòä